<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Obsidian Testing</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="bundle.css">
  </head>
  <body class="u-text">
    <header class="o-flex o-flex--center--h o-flex--j--sb u-bg-offwhite u-p3">
      <div class="o-flex o-flex--center--h">
        <div class="u-mr3">
          <img src="obsidian-logo2x.png" class="u-bl" width="72" alt="" />
        </div>
        <div class="">
          <h1 class="h4 u-w400 u-red u-lh-1 u-m0">Obsidian.css</h1>
          <span class="small u-ltgray">v2.0.0</span>
        </div>
      </div>
      <div class="u-w400 u-p2">
        <a href="#" class="u-p1">GitHub</a>
        <a href="#" class="u-p1">NPM</a>
      </div>
    </header>
    <nav class="u-p3">
      <ul class="list--reset">
        <li class="u-inbl u-mr2 u-mb2"><a href="#settings">Settings</a></li>
        <li class="u-inbl u-mr2 u-mb2"><a href="#elements">Elements</a></li>
        <li class="u-inbl u-mr2 u-mb2"><a href="#objects">Objects</a></li>
        <li class="u-inbl u-mr2 u-mb2"><a href="#components">Components</a></li>
        <li class="u-inbl u-mb2"><a href="#utilities">Utilities</a></li>
      </ul>
    </nav>
    {{> all-settings }}
    {{> all-elements }}
    {{> all-objects }}
    {{> all-components }}
    {{> all-utilities }}
    <footer class="u-py6 u-center">
      <span>&copy; 2016 Charles Peters</span>
    </footer>
  </body>
</html>
