<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Obsidian Testing</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="bundle.css">
</head>
  <body class="u-clr-text u-bkg-offwhite">
    <header class="u-py6 u-al-center">
      <h1 class="u-w-300 h2 u-lt-5 u-caps u-lh-1 u-my6">Obsidian.css</h1>
    </header>
    {{> example name="Headlines" partialName="headlines" moduleGroup="Element"}}
    {{> example name="Forms" partialName="forms" moduleGroup="Object"}}
    <footer class="u-py6 u-al-center">
      <span>&copy; 2016 Charles Peters</span>
    </footer>
  </body>
</html>
