/*----------Containers / Wrapper Object----------*/

/*
@styleguide

@chapter Objects
@title Containers

This is a standard page wrapper object. It providers a max-width to wrap content in with the option of centering it within the parent container. This object is based on this classic pattern.
*/

:root {
  --container-lg: calc(var(--base-container) * .75);
  --container-md: calc(var(--base-container) * .625);
  --container-sm: calc(var(--base-container) * .5);
  --container-xs: calc(var(--base-container) * .375);
}

.o-Container,
.o-Container--full { max-width: var(--base-container); }
.o-Container--lg { max-width: var(--container-lg); }
.o-Container--md { max-width: var(--container-md); }
.o-Container--sm { max-width: var(--container-sm); }
.o-Container--xs { max-width: var(--container-xs); }

.o-Container--center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
