/*---------Icon Object----------*/

/*
  NOTE: Designed with justafewicons.co in mind
*/

:root {
  --icon-size: 3rem;
  --icon-xs: calc(var(--icon-size) * .375);
  --icon-sm: calc(var(--icon-size) * .625);
  --icon-md: calc(var(--icon-size) * 1.125);
  --icon-lg: calc(var(--icon-size) * 1.5);
}

.o-Icon {
  width: var(--icon-size);
  height: var(--icon-size);
  fill: currentColor;
}

.o-Icon--xs {
  width: var(--icon-xs);
  height: var(--icon-xs);
}

.o-Icon--sm {
  width: var(--icon-sm);
  height: var(--icon-sm);
}

.o-Icon--md {
  width: var(--icon-md);
  height: var(--icon-md);
}

.o-Icon--lg {
  width: var(--icon-lg);
  height: var(--icon-lg);
}
