/*--------Responsive Table Object----------*/

:root {
  --Table-border: 1px solid #145878;
  --Table-label-color: var(--litegray);
  --Table-label-size: 0.625rem;
  --Table-label-width: 7rem;
  --Table-label-alignment: left;
}

.o-RDTable {
  width: 100%;
}

.o-RDTable__heading {
  display: none;
}
.o-RDTable__content {
  display: block;
}

.o-RDTable__content::before {
  content: attr(data-heading);
  display: inline-block;
  width: var(--Table-label-width);
  margin-right: 1rem;
  color: var(--Table-label-color);
  font-size: var(--Table-label-size);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: var(--Table-label-alignment);
}

.o-RDTable__row:not(:last-of-type) {
  border-bottom: var(--Table-border);
}

@media only screen and (min-width: 48rem) {
  .o-RDTable__content,
  .o-RDTable__heading {
    display: table-cell;
  }

  .o-RDTable__content::before {
    display: none;
  }
}
