/*----------Intrinsic Ratio Container Object----------*/

/*
  NOTE: Based off of 'Intrinsic Placeholders with the Picture Element'
  http://daverupert.com/2015/12/intrinsic-placeholders-with-picture/
*/

.o-Intrinsic {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 100%;
}

.o-Intrinsic__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

/* Intrinsic Sizes */

.o-Intrinsic--square { padding-top: 100%; }
.o-Intrinsic--4x3 { padding-top: 75%; }
.o-Intrinsic--16x9 { padding-top: 56.25%; }
.o-Intrinsic--3x1 { padding-top: 33.33333333%; }
