.c-color-block__container { justify-content: center; }

.c-color-block {
  width: calc(50% - .5rem);
  border: 1px solid color(var(--litegray) a(25%));
}

.c-color-block__item {
  width: 4.25rem;
  height: 4.25rem;
}



@media (--md) {
  .c-color-block__container { justify-content: space-around; }

  .c-color-block {
    max-width: 11.125rem;
    width: 100%;
    border: 1px solid color(var(--litegray) a(25%));
  }

  .c-color-block__item {
    width: 3.75rem;
    height: 3.75rem;
  }
}
