<div class="o-flex o-flex--wrap u-caps">
  <div class="c-color-block o-flex o-flex--center--h u-m1">
    <div class="c-color-block__item u-bg--offwhite"></div>
    <span class="small u-mx2">offwhite</span>
  </div>
  <div class="c-color-block o-flex o-flex--center--h u-m1">
    <div class="c-color-block__item u-bg--black"></div>
    <span class="small u-mx2">black</span>
  </div>
  <div class="c-color-block o-flex o-flex--center--h u-m1">
    <div class="c-color-block__item u-bg--red"></div>
    <span class="small u-mx2">red</span>
  </div>
  <div class="c-color-block o-flex o-flex--center--h u-m1">
    <div class="c-color-block__item u-bg--blue"></div>
    <span class="small u-mx2">blue</span>
  </div>
  <div class="c-color-block o-flex o-flex--center--h u-m1">
    <div class="c-color-block__item u-bg--bluegreen"></div>
    <span class="small u-mx2">bluegreen</span>
  </div>
  <div class="c-color-block o-flex o-flex--center--h u-m1">
    <div class="c-color-block__item u-bg--yellow"></div>
    <span class="small u-mx2">yellow</span>
  </div>
  <div class="c-color-block o-flex o-flex--center--h u-m1">
    <div class="c-color-block__item u-bg--ygreen"></div>
    <span class="small u-mx2">ygreen</span>
  </div>
  <div class="c-color-block o-flex o-flex--center--h u-m1">
    <div class="c-color-block__item u-bg--green"></div>
    <span class="small u-mx2">green</span>
  </div>
  <div class="c-color-block o-flex o-flex--center--h u-m1">
    <div class="c-color-block__item u-bg--orange"></div>
    <span class="small u-mx2">orange</span>
  </div>
  <div class="c-color-block o-flex o-flex--center--h u-m1">
    <div class="c-color-block__item u-bg--purple"></div>
    <span class="small u-mx2">purple</span>
  </div>
  <div class="c-color-block o-flex o-flex--center--h u-m1">
    <div class="c-color-block__item u-bg--indigo"></div>
    <span class="small u-mx2">indigo</span>
  </div>
  <div class="c-color-block o-flex o-flex--center--h u-m1">
    <div class="c-color-block__item u-bg--fuchsia"></div>
    <span class="small u-mx2">fuchsia</span>
  </div>
  <div class="c-color-block o-flex o-flex--center--h u-m1">
    <div class="c-color-block__item u-bg--palegray"></div>
    <span class="small u-mx2">palegray</span>
  </div>
  <div class="c-color-block o-flex o-flex--center--h u-m1">
    <div class="c-color-block__item u-bg--gray"></div>
    <span class="small u-mx2">gray</span>
  </div>
  <div class="c-color-block o-flex o-flex--center--h u-m1">
    <div class="c-color-block__item u-bg--text"></div>
    <span class="small u-mx2">text</span>
  </div>
  <div class="c-color-block o-flex o-flex--center--h u-m1">
    <div class="c-color-block__item u-bg--ltgray"></div>
    <span class="small u-mx2">litegray</span>
  </div>
</div>
