<h6 class="small u-caps">Sans-serif</h6>
<p class="u-sans">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<h6 class="small u-caps">Serif</h6>
<p class="u-serif">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<h6 class="small u-caps">Monospace</h6>
<p class="u-mono">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h6 class="small u-caps">System</h6>
<p class="u-system">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
