<div class="o-container--xs o-container--wrap u-mb2 u-bg--blue u-p2 u-center u-offwhite">
  Xtra Small = 28.125rem / 450px
</div>
<div class="o-container--sm o-container--wrap u-mb2 u-bg--blue u-p2 u-center u-offwhite">
  Small = 37.5rem / 600px
</div>
<div class="o-container--md o-container--wrap u-mb2 u-bg--blue u-p2 u-center u-offwhite">
  Medium = 46.875rem / 750px
</div>
<div class="o-container--lg o-container--wrap u-mb2 u-bg--blue u-p2 u-center u-offwhite">
  Large = 56.25rem / 900px
</div>
<div class="o-container o-container--wrap u-mb2 u-bg--blue u-p2 u-center u-offwhite">
  Full = 75rem / 1200px
</div>
