<div class="o-flag u-mb3">
  <figure class="o-flag__figure o-col--3/12 u-mr3">
    <img src="/assets/dist/img/filler-image.svg" alt="" class="u-bl" />
  </figure>

  <div class="o-flag__body small">
    <p class="u-m0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et porro provident ipsa nam, quod molestias doloribus dolore sequi quaerat, facilis repellendus est corporis dolorum sed. Culpa ipsam pariatur cumque maxime!</p>
  </div>
</div>

<div class="o-flag o-flag--top u-mb3">
  <figure class="o-flag__figure o-col--3/12 u-mr3">
    <img src="/assets/dist/img/filler-image.svg" alt="" class="u-bl" />
  </figure>

  <div class="o-flag__body small">
    <h6 class="u-mb2">Top</h6>
    <p class="u-m0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et porro provident ipsa nam, quod molestias doloribus dolore sequi quaerat, facilis repellendus est corporis dolorum sed. Culpa ipsam pariatur cumque maxime!</p>
  </div>
</div>

<div class="o-flag o-flag--bottom u-mb3">
  <figure class="o-flag__figure o-col--3/12 u-mr3">
    <img src="/assets/dist/img/filler-image.svg" alt="" class="u-bl" />
  </figure>

  <div class="o-flag__body small">
    <h6 class="u-mb2">Bottom</h6>
    <p class="u-m0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et porro provident ipsa nam, quod molestias doloribus dolore sequi quaerat, facilis repellendus est corporis dolorum sed. Culpa ipsam pariatur cumque maxime!</p>
  </div>
</div>

<div class="o-flag o-flag--reverse u-mb3">
  <figure class="o-flag__figure o-col--3/12">
    <img src="/assets/dist/img/filler-image.svg" alt="" class="u-bl" />
  </figure>

  <div class="o-flag__body small u-mr3">
    <h6 class="u-mb2">Reversed</h6>
    <p class="u-m0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et porro provident ipsa nam, quod molestias doloribus dolore sequi quaerat, facilis repellendus est corporis dolorum sed.</p>
  </div>

</div>
