<div class="o-flex o-flex--wrap">
  <div class="o-col--12/12 o-col--6/12@md u-p2">
    <div class="o-intrinsic o-intrinsic--16x9">
      <iframe src="https://www.youtube.com/embed/-fqu-5IuOkc" class="o-intrinsic__item" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="o-col--12/12 o-col--6/12@md u-p2">
    <div class="o-intrinsic o-intrinsic--16x9">
      <iframe src="https://www.youtube.com/embed/-fqu-5IuOkc" class="o-intrinsic__item" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
