/*----------Text Align Utilities----------*/

.u-left { text-align: left; }
.u-right { text-align: right; }
.u-center { text-align: center; }
.u-justify { text-align: justify; }

@media (--sm) {
  .u-left\@sm { text-align: left; }
  .u-right\@sm { text-align: right; }
  .u-center\@sm { text-align: center; }
  .u-justify\@sm { text-align: justify; }
}

@media (--md) {
  .u-left\@md { text-align: left; }
  .u-right\@md { text-align: right; }
  .u-center\@md { text-align: center; }
  .u-justify\@md { text-align: justify; }
}

@media (--lg) {
  .u-left\@lg { text-align: left; }
  .u-right\@lg { text-align: right; }
  .u-center\@lg { text-align: center; }
  .u-justify\@lg { text-align: justify; }
}
