/*----------Overflow Utilities----------*/

.u-ov--none { overflow: none; }
.u-ov--vis { overflow: visible; }
.u-ov--hid { overflow: hidden; }
.u-ov--sc { overflow: scroll; }

.u-ovx--none { overflow-x: none; }
.u-ovx--vis { overflow-x: visible; }
.u-ovx--hid { overflow-x: hidden; }
.u-ovx--sc { overflow-x: scroll; }

.u-ovy--none { overflow-y: none; }
.u-ovy--vis { overflow-y: visible; }
.u-ovy--hid { overflow-y: hidden; }
.u-ovy--sc { overflow-y: scroll; }
