/*---------Spacing Utilities: Padding----------*/

/* Spacing Level 0 */

.u-p0 {
  padding: 0;
}
.u-pt0 {
  padding-top: 0;
}
.u-pr0 {
  padding-right: 0;
}
.u-pb0 {
  padding-bottom: 0;
}
.u-pl0 {
  padding-left: 0;
}

.u-px0 {
  padding-right: 0;
  padding-left: 0;
}

.u-py0 {
  padding-top: 0;
  padding-bottom: 0;
}

/* Spacing Level 1 */

.u-p1 {
  padding: var(--spacing-1);
}
.u-pt1 {
  padding-top: var(--spacing-1);
}
.u-pr1 {
  padding-right: var(--spacing-1);
}
.u-pb1 {
  padding-bottom: var(--spacing-1);
}
.u-pl1 {
  padding-left: var(--spacing-1);
}

.u-px1 {
  padding-right: var(--spacing-1);
  padding-left: var(--spacing-1);
}

.u-py1 {
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}

/* Spacing Level 2 */

.u-p2 {
  padding: var(--spacing-2);
}
.u-pt2 {
  padding-top: var(--spacing-2);
}
.u-pr2 {
  padding-right: var(--spacing-2);
}
.u-pb2 {
  padding-bottom: var(--spacing-2);
}
.u-pl2 {
  padding-left: var(--spacing-2);
}

.u-px2 {
  padding-right: var(--spacing-2);
  padding-left: var(--spacing-2);
}

.u-py2 {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}

/* Spacing Level 3 */

.u-p3 {
  padding: var(--spacing-3);
}
.u-pt3 {
  padding-top: var(--spacing-3);
}
.u-pr3 {
  padding-right: var(--spacing-3);
}
.u-pb3 {
  padding-bottom: var(--spacing-3);
}
.u-pl3 {
  padding-left: var(--spacing-3);
}

.u-px3 {
  padding-right: var(--spacing-3);
  padding-left: var(--spacing-3);
}

.u-py3 {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
}

/* Spacing Level 4 */

.u-p4 {
  padding: var(--spacing-4);
}
.u-pt4 {
  padding-top: var(--spacing-4);
}
.u-pr4 {
  padding-right: var(--spacing-4);
}
.u-pb4 {
  padding-bottom: var(--spacing-4);
}
.u-pl4 {
  padding-left: var(--spacing-4);
}

.u-px4 {
  padding-right: var(--spacing-4);
  padding-left: var(--spacing-4);
}

.u-py4 {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}

/* Spacing Level 5 */

.u-p5 {
  padding: var(--spacing-5);
}
.u-pt5 {
  padding-top: var(--spacing-5);
}
.u-pr5 {
  padding-right: var(--spacing-5);
}
.u-pb5 {
  padding-bottom: var(--spacing-5);
}
.u-pl5 {
  padding-left: var(--spacing-5);
}

.u-px5 {
  padding-right: var(--spacing-5);
  padding-left: var(--spacing-5);
}

.u-py5 {
  padding-top: var(--spacing-5);
  padding-bottom: var(--spacing-5);
}

/* Spacing Level 6 */

.u-p6 {
  padding: var(--spacing-6);
}
.u-pt6 {
  padding-top: var(--spacing-6);
}
.u-pr6 {
  padding-right: var(--spacing-6);
}
.u-pb6 {
  padding-bottom: var(--spacing-6);
}
.u-pl6 {
  padding-left: var(--spacing-6);
}

.u-px6 {
  padding-right: var(--spacing-6);
  padding-left: var(--spacing-6);
}

.u-py6 {
  padding-top: var(--spacing-6);
  padding-bottom: var(--spacing-6);
}

/* Spacing Auto */

.u-px-auto {
  padding-right: auto;
  padding-left: auto;
}

.u-py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

@media only screen and (min-width: 31.25rem) {
  /* Spacing Level 0 */

  .u-p0\@sm {
    padding: 0;
  }
  .u-pt0\@sm {
    padding-top: 0;
  }
  .u-pr0\@sm {
    padding-right: 0;
  }
  .u-pb0\@sm {
    padding-bottom: 0;
  }
  .u-pl0\@sm {
    padding-left: 0;
  }

  .u-px0\@sm {
    padding-right: 0;
    padding-left: 0;
  }

  .u-py0\@sm {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* Spacing Level 1 */

  .u-p1\@sm {
    padding: var(--spacing-1);
  }
  .u-pt1\@sm {
    padding-top: var(--spacing-1);
  }
  .u-pr1\@sm {
    padding-right: var(--spacing-1);
  }
  .u-pb1\@sm {
    padding-bottom: var(--spacing-1);
  }
  .u-pl1\@sm {
    padding-left: var(--spacing-1);
  }

  .u-px1\@sm {
    padding-right: var(--spacing-1);
    padding-left: var(--spacing-1);
  }

  .u-py1\@sm {
    padding-top: var(--spacing-1);
    padding-bottom: var(--spacing-1);
  }

  /* Spacing Level 2 */

  .u-p2\@sm {
    padding: var(--spacing-2);
  }
  .u-pt2\@sm {
    padding-top: var(--spacing-2);
  }
  .u-pr2\@sm {
    padding-right: var(--spacing-2);
  }
  .u-pb2\@sm {
    padding-bottom: var(--spacing-2);
  }
  .u-pl2\@sm {
    padding-left: var(--spacing-2);
  }

  .u-px2\@sm {
    padding-right: var(--spacing-2);
    padding-left: var(--spacing-2);
  }

  .u-py2\@sm {
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
  }

  /* Spacing Level 3 */

  .u-p3\@sm {
    padding: var(--spacing-3);
  }
  .u-pt3\@sm {
    padding-top: var(--spacing-3);
  }
  .u-pr3\@sm {
    padding-right: var(--spacing-3);
  }
  .u-pb3\@sm {
    padding-bottom: var(--spacing-3);
  }
  .u-pl3\@sm {
    padding-left: var(--spacing-3);
  }

  .u-px3\@sm {
    padding-right: var(--spacing-3);
    padding-left: var(--spacing-3);
  }

  .u-py3\@sm {
    padding-top: var(--spacing-3);
    padding-bottom: var(--spacing-3);
  }

  /* Spacing Level 4 */

  .u-p4\@sm {
    padding: var(--spacing-4);
  }
  .u-pt4\@sm {
    padding-top: var(--spacing-4);
  }
  .u-pr4\@sm {
    padding-right: var(--spacing-4);
  }
  .u-pb4\@sm {
    padding-bottom: var(--spacing-4);
  }
  .u-pl4\@sm {
    padding-left: var(--spacing-4);
  }

  .u-px4\@sm {
    padding-right: var(--spacing-4);
    padding-left: var(--spacing-4);
  }

  .u-py4\@sm {
    padding-top: var(--spacing-4);
    padding-bottom: var(--spacing-4);
  }

  /* Spacing Level 4 */

  .u-p5\@sm {
    padding: var(--spacing-5);
  }
  .u-pt5\@sm {
    padding-top: var(--spacing-5);
  }
  .u-pr5\@sm {
    padding-right: var(--spacing-5);
  }
  .u-pb5\@sm {
    padding-bottom: var(--spacing-5);
  }
  .u-pl5\@sm {
    padding-left: var(--spacing-5);
  }

  .u-px5\@sm {
    padding-right: var(--spacing-5);
    padding-left: var(--spacing-5);
  }

  .u-py5\@sm {
    padding-top: var(--spacing-5);
    padding-bottom: var(--spacing-5);
  }

  /* Spacing Level 6 */

  .u-p6\@sm {
    padding: var(--spacing-6);
  }
  .u-pt6\@sm {
    padding-top: var(--spacing-6);
  }
  .u-pr6\@sm {
    padding-right: var(--spacing-6);
  }
  .u-pb6\@sm {
    padding-bottom: var(--spacing-6);
  }
  .u-pl6\@sm {
    padding-left: var(--spacing-6);
  }

  .u-px6\@sm {
    padding-right: var(--spacing-6);
    padding-left: var(--spacing-6);
  }

  .u-py6\@sm {
    padding-top: var(--spacing-6);
    padding-bottom: var(--spacing-6);
  }

  /* Spacing Auto */

  .u-px-auto\@sm {
    padding-right: auto;
    padding-left: auto;
  }

  .u-py-auto\@sm {
    padding-top: auto;
    padding-bottom: auto;
  }
}

@media only screen and (min-width: 48rem) {
  /* Spacing Level 0 */

  .u-p0\@md {
    padding: 0;
  }
  .u-pt0\@md {
    padding-top: 0;
  }
  .u-pr0\@md {
    padding-right: 0;
  }
  .u-pb0\@md {
    padding-bottom: 0;
  }
  .u-pl0\@md {
    padding-left: 0;
  }

  .u-px0\@md {
    padding-right: 0;
    padding-left: 0;
  }

  .u-py0\@md {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* Spacing Level 1 */

  .u-p1\@md {
    padding: var(--spacing-1);
  }
  .u-pt1\@md {
    padding-top: var(--spacing-1);
  }
  .u-pr1\@md {
    padding-right: var(--spacing-1);
  }
  .u-pb1\@md {
    padding-bottom: var(--spacing-1);
  }
  .u-pl1\@md {
    padding-left: var(--spacing-1);
  }

  .u-px1\@md {
    padding-right: var(--spacing-1);
    padding-left: var(--spacing-1);
  }

  .u-py1\@md {
    padding-top: var(--spacing-1);
    padding-bottom: var(--spacing-1);
  }

  /* Spacing Level 2 */

  .u-p2\@md {
    padding: var(--spacing-2);
  }
  .u-pt2\@md {
    padding-top: var(--spacing-2);
  }
  .u-pr2\@md {
    padding-right: var(--spacing-2);
  }
  .u-pb2\@md {
    padding-bottom: var(--spacing-2);
  }
  .u-pl2\@md {
    padding-left: var(--spacing-2);
  }

  .u-px2\@md {
    padding-right: var(--spacing-2);
    padding-left: var(--spacing-2);
  }

  .u-py2\@md {
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
  }

  /* Spacing Level 3 */

  .u-p3\@md {
    padding: var(--spacing-3);
  }
  .u-pt3\@md {
    padding-top: var(--spacing-3);
  }
  .u-pr3\@md {
    padding-right: var(--spacing-3);
  }
  .u-pb3\@md {
    padding-bottom: var(--spacing-3);
  }
  .u-pl3\@md {
    padding-left: var(--spacing-3);
  }

  .u-px3\@md {
    padding-right: var(--spacing-3);
    padding-left: var(--spacing-3);
  }

  .u-py3\@md {
    padding-top: var(--spacing-3);
    padding-bottom: var(--spacing-3);
  }

  /* Spacing Level 4 */

  .u-p4\@md {
    padding: var(--spacing-4);
  }
  .u-pt4\@md {
    padding-top: var(--spacing-4);
  }
  .u-pr4\@md {
    padding-right: var(--spacing-4);
  }
  .u-pb4\@md {
    padding-bottom: var(--spacing-4);
  }
  .u-pl4\@md {
    padding-left: var(--spacing-4);
  }

  .u-px4\@md {
    padding-right: var(--spacing-4);
    padding-left: var(--spacing-4);
  }

  .u-py4\@md {
    padding-top: var(--spacing-4);
    padding-bottom: var(--spacing-4);
  }

  /* Spacing Level 5 */

  .u-p5\@md {
    padding: var(--spacing-5);
  }
  .u-pt5\@md {
    padding-top: var(--spacing-5);
  }
  .u-pr5\@md {
    padding-right: var(--spacing-5);
  }
  .u-pb5\@md {
    padding-bottom: var(--spacing-5);
  }
  .u-pl5\@md {
    padding-left: var(--spacing-5);
  }

  .u-px5\@md {
    padding-right: var(--spacing-5);
    padding-left: var(--spacing-5);
  }

  .u-py5\@md {
    padding-top: var(--spacing-5);
    padding-bottom: var(--spacing-5);
  }

  /* Spacing Level 6 */

  .u-p6\@md {
    padding: var(--spacing-6);
  }
  .u-pt6\@md {
    padding-top: var(--spacing-6);
  }
  .u-pr6\@md {
    padding-right: var(--spacing-6);
  }
  .u-pb6\@md {
    padding-bottom: var(--spacing-6);
  }
  .u-pl6\@md {
    padding-left: var(--spacing-6);
  }

  .u-px6\@md {
    padding-right: var(--spacing-6);
    padding-left: var(--spacing-6);
  }

  .u-py6\@md {
    padding-top: var(--spacing-6);
    padding-bottom: var(--spacing-6);
  }

  /* Spacing Auto */

  .u-px-auto\@md {
    padding-right: auto;
    padding-left: auto;
  }

  .u-py-auto\@md {
    padding-top: auto;
    padding-bottom: auto;
  }
}

@media only screen and (min-width: 57.75rem) {
  /* Spacing Level 0 */

  .u-p0\@lg {
    padding: 0;
  }
  .u-pt0\@lg {
    padding-top: 0;
  }
  .u-pr0\@lg {
    padding-right: 0;
  }
  .u-pb0\@lg {
    padding-bottom: 0;
  }
  .u-pl0\@lg {
    padding-left: 0;
  }

  .u-px0\@lg {
    padding-right: 0;
    padding-left: 0;
  }

  .u-py0\@lg {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* Spacing Level 1 */

  .u-p1\@lg {
    padding: var(--spacing-1);
  }
  .u-pt1\@lg {
    padding-top: var(--spacing-1);
  }
  .u-pr1\@lg {
    padding-right: var(--spacing-1);
  }
  .u-pb1\@lg {
    padding-bottom: var(--spacing-1);
  }
  .u-pl1\@lg {
    padding-left: var(--spacing-1);
  }

  .u-px1\@lg {
    padding-right: var(--spacing-1);
    padding-left: var(--spacing-1);
  }

  .u-py1\@lg {
    padding-top: var(--spacing-1);
    padding-bottom: var(--spacing-1);
  }

  /* Spacing Level 2 */

  .u-p2\@lg {
    padding: var(--spacing-2);
  }
  .u-pt2\@lg {
    padding-top: var(--spacing-2);
  }
  .u-pr2\@lg {
    padding-right: var(--spacing-2);
  }
  .u-pb2\@lg {
    padding-bottom: var(--spacing-2);
  }
  .u-pl2\@lg {
    padding-left: var(--spacing-2);
  }

  .u-px2\@lg {
    padding-right: var(--spacing-2);
    padding-left: var(--spacing-2);
  }

  .u-py2\@lg {
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
  }

  /* Spacing Level 3 */

  .u-p3\@lg {
    padding: var(--spacing-3);
  }
  .u-pt3\@lg {
    padding-top: var(--spacing-3);
  }
  .u-pr3\@lg {
    padding-right: var(--spacing-3);
  }
  .u-pb3\@lg {
    padding-bottom: var(--spacing-3);
  }
  .u-pl3\@lg {
    padding-left: var(--spacing-3);
  }

  .u-px3\@lg {
    padding-right: var(--spacing-3);
    padding-left: var(--spacing-3);
  }

  .u-py3\@lg {
    padding-top: var(--spacing-3);
    padding-bottom: var(--spacing-3);
  }

  .u-p4\@lg {
    padding: var(--spacing-4);
  }
  .u-pt4\@lg {
    padding-top: var(--spacing-4);
  }
  .u-pr4\@lg {
    padding-right: var(--spacing-4);
  }
  .u-pb4\@lg {
    padding-bottom: var(--spacing-4);
  }
  .u-pl4\@lg {
    padding-left: var(--spacing-4);
  }

  .u-px4\@lg {
    padding-right: var(--spacing-4);
    padding-left: var(--spacing-4);
  }

  .u-py4\@lg {
    padding-top: var(--spacing-4);
    padding-bottom: var(--spacing-4);
  }

  /* Spacing Level 5 */

  .u-p5\@lg {
    padding: var(--spacing-5);
  }
  .u-pt5\@lg {
    padding-top: var(--spacing-5);
  }
  .u-pr5\@lg {
    padding-right: var(--spacing-5);
  }
  .u-pb5\@lg {
    padding-bottom: var(--spacing-5);
  }
  .u-pl5\@lg {
    padding-left: var(--spacing-5);
  }

  .u-px5\@lg {
    padding-right: var(--spacing-5);
    padding-left: var(--spacing-5);
  }

  .u-py5\@lg {
    padding-top: var(--spacing-5);
    padding-bottom: var(--spacing-5);
  }

  /* Spacing Level 6 */

  .u-p6\@lg {
    padding: var(--spacing-6);
  }
  .u-pt6\@lg {
    padding-top: var(--spacing-6);
  }
  .u-pr6\@lg {
    padding-right: var(--spacing-6);
  }
  .u-pb6\@lg {
    padding-bottom: var(--spacing-6);
  }
  .u-pl6\@lg {
    padding-left: var(--spacing-6);
  }

  .u-px6\@lg {
    padding-right: var(--spacing-6);
    padding-left: var(--spacing-6);
  }

  .u-py6\@lg {
    padding-top: var(--spacing-6);
    padding-bottom: var(--spacing-6);
  }

  /* Spacing Auto */

  .u-px-auto\@lg {
    padding-right: auto;
    padding-left: auto;
  }

  .u-py-auto\@lg {
    padding-top: auto;
    padding-bottom: auto;
  }
}
