/*----------Float Utilities----------*/

.u-fl {
  float: left;
}
.u-fr {
  float: right;
}
.u-fn {
  float: none;
}

@media only screen and (min-width: 31.25rem) {
  .u-fl\@sm {
    float: left;
  }
  .u-fr\@sm {
    float: right;
  }
  .u-fn\@sm {
    float: none;
  }
}

@media only screen and (min-width: 48rem) {
  .u-fl\@md {
    float: left;
  }
  .u-fr\@md {
    float: right;
  }
  .u-fn\@md {
    float: none;
  }
}

@media only screen and (min-width: 57.75rem) {
  .u-fl\@lg {
    float: left;
  }
  .u-fr\@lg {
    float: right;
  }
  .u-fn\@lg {
    float: none;
  }
}

/* Clearfix */

.u-cf::after {
  content: '';
  clear: both;
  display: table;
}
