@import 'obsidian.css/lib/settings';
@import 'obsidian.css/lib/generic';
@import 'obsidian.css/lib/elements';
@import 'obsidian.css/lib/objects';
@import 'obsidian.css/lib/components';

@import './components/example';
@import './components/post';
@import './components/color-blocks';
@import './components/header';
@import './components/footer';
@import './components/nav';
@import './components/panes';

@import 'prism-themes/themes/prism-base16-ateliersulphurpool.light.css';

@import 'obsidian.css/lib/utilities';

:root {
  /*--ff-default: 'SF UI Text';
  --ff-sans-serif: var(--ff-default);*/
  --ff-serif: 'Charter', 'Georgia', 'Times', serif;
  --ff-mono: 'SFMono-Regular', 'Roboto Mono', 'Fira Sans', Consolas, 'Liberation Mono', 'Menlo', monospace;
  --ff-w: 400;
  --container-md: 44rem;
  --headlines: Avenir, var(--ff-default);
  --body-text: var(--ff-default);
  --subtle-border: 1px solid color(var(--litegray) a(50%));
  --column-size-3: calc(var(--container-md) / 2 - ((var(--base-spacing) * 3) * 2 ));
}

/* Hack to override prism themes */

code[class*=language-],
pre[class*=language-] {
  font-family: inherit !important;
  font-weight: 400;
}
