/*---------Spacing Utilities----------*/
/*
  NOTE: Adapted from Basscss from Brent Jackson
  http://www.basscss.com/#basscss-margin
  http://www.basscss.com/#basscss-padding
*/
/*---------Spacing Utilities: Margin----------*/
/* Spacing Level 0 */
.u-m0 { margin: 0; }
.u-mt0 { margin-top: 0; }
.u-mr0 { margin-right: 0; }
.u-mb0 { margin-bottom: 0; }
.u-ml0 { margin-left: 0; }
.u-mx0 { margin-right: 0; margin-left: 0; }
.u-my0 { margin-top: 0; margin-bottom: 0; }
/* Spacing Level 1 */
.u-m1 { margin: var( --spacing-1 ); }
.u-mt1 { margin-top: var( --spacing-1 ); }
.u-mr1 { margin-right: var( --spacing-1 ); }
.u-mb1 { margin-bottom: var( --spacing-1 ); }
.u-ml1 { margin-left: var( --spacing-1 ); }
.u-mx1 { margin-right: var( --spacing-1 ); margin-left: var( --spacing-1 ); }
.u-my1 { margin-top: var( --spacing-1 ); margin-bottom: var( --spacing-1 ); }
/* Spacing Level 2 */
.u-m2 { margin: var( --spacing-2 ); }
.u-mt2 { margin-top: var( --spacing-2 ); }
.u-mr2 { margin-right: var( --spacing-2 ); }
.u-mb2 { margin-bottom: var( --spacing-2 ); }
.u-ml2 { margin-left: var( --spacing-2 ); }
.u-mx2 { margin-right: var( --spacing-2 ); margin-left: var( --spacing-2 ); }
.u-my2 { margin-top: var( --spacing-2 ); margin-bottom: var( --spacing-2 ); }
/* Spacing Level 3 */
.u-m3 { margin: var( --spacing-3 ); }
.u-mt3 { margin-top: var( --spacing-3 ); }
.u-mr3 { margin-right: var( --spacing-3 ); }
.u-mb3 { margin-bottom: var( --spacing-3 ); }
.u-ml3 { margin-left: var( --spacing-3 ); }
.u-mx3 { margin-right: var( --spacing-3 ); margin-left: var( --spacing-3 ); }
.u-my3 { margin-top: var( --spacing-3 ); margin-bottom: var( --spacing-3 ); }
/* Spacing Level 4 */
.u-m4 { margin: var( --spacing-4 ); }
.u-mt4 { margin-top: var( --spacing-4 ); }
.u-mr4 { margin-right: var( --spacing-4 ); }
.u-mb4 { margin-bottom: var( --spacing-4 ); }
.u-ml4 { margin-left: var( --spacing-4 ); }
.u-mx4 { margin-right: var( --spacing-4 ); margin-left: var( --spacing-4 ); }
.u-my4 { margin-top: var( --spacing-4 ); margin-bottom: var( --spacing-4 ); }
/* Spacing Level 5 */
.u-m5 { margin: var( --spacing-5 ); }
.u-mt5 { margin-top: var( --spacing-5 ); }
.u-mr5 { margin-right: var( --spacing-5 ); }
.u-mb5 { margin-bottom: var( --spacing-5 ); }
.u-ml5 { margin-left: var( --spacing-5 ); }
.u-mx5 { margin-right: var( --spacing-5 ); margin-left: var( --spacing-5 ); }
.u-my5 { margin-top: var( --spacing-5 ); margin-bottom: var( --spacing-5 ); }
/* Spacing Level 6 */
.u-m6 { margin: var( --spacing-6 ); }
.u-mt6 { margin-top: var( --spacing-6 ); }
.u-mr6 { margin-right: var( --spacing-6 ); }
.u-mb6 { margin-bottom: var( --spacing-6 ); }
.u-ml6 { margin-left: var( --spacing-6 ); }
.u-mx6 { margin-right: var( --spacing-6 ); margin-left: var( --spacing-6 ); }
.u-my6 { margin-top: var( --spacing-6 ); margin-bottom: var( --spacing-6 ); }
/* Spacing Auto */
.u-mla { margin-left: auto; }
.u-mra { margin-right: auto; }
.u-mxa { margin-right: auto; margin-left: auto; }
.u-mya { margin-top: auto; margin-bottom: auto; }
@media (--sm) {/* Spacing Level 0 */
 .u-m0\@sm { margin: 0; }
 .u-mt0\@sm { margin-top: 0; }
 .u-mr0\@sm { margin-right: 0; }
 .u-mb0\@sm { margin-bottom: 0; }
 .u-ml0\@sm { margin-left: 0; }
 .u-mx0\@sm { margin-right: 0; margin-left: 0; }
 .u-my0\@sm { margin-top: 0; margin-bottom: 0; }/* Spacing Level 1 */
 .u-m1\@sm { margin: var( --spacing-1 ); }
 .u-mt1\@sm { margin-top: var( --spacing-1 ); }
 .u-mr1\@sm { margin-right: var( --spacing-1 ); }
 .u-mb1\@sm { margin-bottom: var( --spacing-1 ); }
 .u-ml1\@sm { margin-left: var( --spacing-1 ); }
 .u-mx1\@sm { margin-right: var( --spacing-1 ); margin-left: var( --spacing-1 ); }
 .u-my1\@sm { margin-top: var( --spacing-1 ); margin-bottom: var( --spacing-1 ); }/* Spacing Level 2 */
 .u-m2\@sm { margin: var( --spacing-2 ); }
 .u-mt2\@sm { margin-top: var( --spacing-2 ); }
 .u-mr2\@sm { margin-right: var( --spacing-2 ); }
 .u-mb2\@sm { margin-bottom: var( --spacing-2 ); }
 .u-ml2\@sm { margin-left: var( --spacing-2 ); }
 .u-mx2\@sm { margin-right: var( --spacing-2 ); margin-left: var( --spacing-2 ); }
 .u-my2\@sm { margin-top: var( --spacing-2 ); margin-bottom: var( --spacing-2 ); }/* Spacing Level 3 */
 .u-m3\@sm { margin: var( --spacing-3 ); }
 .u-mt3\@sm { margin-top: var( --spacing-3 ); }
 .u-mr3\@sm { margin-right: var( --spacing-3 ); }
 .u-mb3\@sm { margin-bottom: var( --spacing-3 ); }
 .u-ml3\@sm { margin-left: var( --spacing-3 ); }
 .u-mx3\@sm { margin-right: var( --spacing-3 ); margin-left: var( --spacing-3 ); }
 .u-my3\@sm { margin-top: var( --spacing-3 ); margin-bottom: var( --spacing-3 ); }/* Spacing Level 4 */
 .u-m4\@sm { margin: var( --spacing-4 ); }
 .u-mt4\@sm { margin-top: var( --spacing-4 ); }
 .u-mr4\@sm { margin-right: var( --spacing-4 ); }
 .u-mb4\@sm { margin-bottom: var( --spacing-4 ); }
 .u-ml4\@sm { margin-left: var( --spacing-4 ); }
 .u-mx4\@sm { margin-right: var( --spacing-4 ); margin-left: var( --spacing-4 ); }
 .u-my4\@sm { margin-top: var( --spacing-4 ); margin-bottom: var( --spacing-4 ); }/* Spacing Level 4 */
 .u-m5\@sm { margin: var( --spacing-5 ); }
 .u-mt5\@sm { margin-top: var( --spacing-5 ); }
 .u-mr5\@sm { margin-right: var( --spacing-5 ); }
 .u-mb5\@sm { margin-bottom: var( --spacing-5 ); }
 .u-ml5\@sm { margin-left: var( --spacing-5 ); }
 .u-mx5\@sm { margin-right: var( --spacing-5 ); margin-left: var( --spacing-5 ); }
 .u-my5\@sm { margin-top: var( --spacing-5 ); margin-bottom: var( --spacing-5 ); }/* Spacing Level 6 */
 .u-m6\@sm { margin: var( --spacing-6 ); }
 .u-mt6\@sm { margin-top: var( --spacing-6 ); }
 .u-mr6\@sm { margin-right: var( --spacing-6 ); }
 .u-mb6\@sm { margin-bottom: var( --spacing-6 ); }
 .u-ml6\@sm { margin-left: var( --spacing-6 ); }
 .u-mx6\@sm { margin-right: var( --spacing-6 ); margin-left: var( --spacing-6 ); }
 .u-my6\@sm { margin-top: var( --spacing-6 ); margin-bottom: var( --spacing-6 ); }/* Spacing Auto */
 .u-mla\@sm { margin-left: auto; }
 .u-mra\@sm { margin-right: auto; }
 .u-mxa\@sm { margin-right: auto; margin-left: auto; }
 .u-mya\@sm { margin-top: auto; margin-bottom: auto; }
}
@media (--md) {/* Spacing Level 0 */
 .u-m0\@md { margin: 0; }
 .u-mt0\@md { margin-top: 0; }
 .u-mr0\@md { margin-right: 0; }
 .u-mb0\@md { margin-bottom: 0; }
 .u-ml0\@md { margin-left: 0; }
 .u-mx0\@md { margin-right: 0; margin-left: 0; }
 .u-my0\@md { margin-top: 0; margin-bottom: 0; }/* Spacing Level 1 */
 .u-m1\@md { margin: var( --spacing-1 ); }
 .u-mt1\@md { margin-top: var( --spacing-1 ); }
 .u-mr1\@md { margin-right: var( --spacing-1 ); }
 .u-mb1\@md { margin-bottom: var( --spacing-1 ); }
 .u-ml1\@md { margin-left: var( --spacing-1 ); }
 .u-mx1\@md { margin-right: var( --spacing-1 ); margin-left: var( --spacing-1 ); }
 .u-my1\@md { margin-top: var( --spacing-1 ); margin-bottom: var( --spacing-1 ); }/* Spacing Level 2 */
 .u-m2\@md { margin: var( --spacing-2 ); }
 .u-mt2\@md { margin-top: var( --spacing-2 ); }
 .u-mr2\@md { margin-right: var( --spacing-2 ); }
 .u-mb2\@md { margin-bottom: var( --spacing-2 ); }
 .u-ml2\@md { margin-left: var( --spacing-2 ); }
 .u-mx2\@md { margin-right: var( --spacing-2 ); margin-left: var( --spacing-2 ); }
 .u-my2\@md { margin-top: var( --spacing-2 ); margin-bottom: var( --spacing-2 ); }/* Spacing Level 3 */
 .u-m3\@md { margin: var( --spacing-3 ); }
 .u-mt3\@md { margin-top: var( --spacing-3 ); }
 .u-mr3\@md { margin-right: var( --spacing-3 ); }
 .u-mb3\@md { margin-bottom: var( --spacing-3 ); }
 .u-ml3\@md { margin-left: var( --spacing-3 ); }
 .u-mx3\@md { margin-right: var( --spacing-3 ); margin-left: var( --spacing-3 ); }
 .u-my3\@md { margin-top: var( --spacing-3 ); margin-bottom: var( --spacing-3 ); }/* Spacing Level 4 */
 .u-m4\@md { margin: var( --spacing-4 ); }
 .u-mt4\@md { margin-top: var( --spacing-4 ); }
 .u-mr4\@md { margin-right: var( --spacing-4 ); }
 .u-mb4\@md { margin-bottom: var( --spacing-4 ); }
 .u-ml4\@md { margin-left: var( --spacing-4 ); }
 .u-mx4\@md { margin-right: var( --spacing-4 ); margin-left: var( --spacing-4 ); }
 .u-my4\@md { margin-top: var( --spacing-4 ); margin-bottom: var( --spacing-4 ); }/* Spacing Level 5 */
 .u-m5\@md { margin: var( --spacing-5 ); }
 .u-mt5\@md { margin-top: var( --spacing-5 ); }
 .u-mr5\@md { margin-right: var( --spacing-5 ); }
 .u-mb5\@md { margin-bottom: var( --spacing-5 ); }
 .u-ml5\@md { margin-left: var( --spacing-5 ); }
 .u-mx5\@md { margin-right: var( --spacing-5 ); margin-left: var( --spacing-5 ); }
 .u-my5\@md { margin-top: var( --spacing-5 ); margin-bottom: var( --spacing-5 ); }/* Spacing Level 6 */
 .u-m6\@md { margin: var( --spacing-6 ); }
 .u-mt6\@md { margin-top: var( --spacing-6 ); }
 .u-mr6\@md { margin-right: var( --spacing-6 ); }
 .u-mb6\@md { margin-bottom: var( --spacing-6 ); }
 .u-ml6\@md { margin-left: var( --spacing-6 ); }
 .u-mx6\@md { margin-right: var( --spacing-6 ); margin-left: var( --spacing-6 ); }
 .u-my6\@md { margin-top: var( --spacing-6 ); margin-bottom: var( --spacing-6 ); }/* Spacing Auto */
 .u-mla\@md { margin-left: auto; }
 .u-mra\@md { margin-right: auto; }
 .u-mxa\@md { margin-right: auto; margin-left: auto; }
 .u-mya\@md { margin-top: auto; margin-bottom: auto; }
}
@media (--lg) {/* Spacing Level 0 */
 .u-m0\@lg { margin: 0; }
 .u-mt0\@lg { margin-top: 0; }
 .u-mr0\@lg { margin-right: 0; }
 .u-mb0\@lg { margin-bottom: 0; }
 .u-ml0\@lg { margin-left: 0; }
 .u-mx0\@lg { margin-right: 0; margin-left: 0; }
 .u-my0\@lg { margin-top: 0; margin-bottom: 0; }/* Spacing Level 1 */
 .u-m1\@lg { margin: var( --spacing-1 ); }
 .u-mt1\@lg { margin-top: var( --spacing-1 ); }
 .u-mr1\@lg { margin-right: var( --spacing-1 ); }
 .u-mb1\@lg { margin-bottom: var( --spacing-1 ); }
 .u-ml1\@lg { margin-left: var( --spacing-1 ); }
 .u-mx1\@lg { margin-right: var( --spacing-1 ); margin-left: var( --spacing-1 ); }
 .u-my1\@lg { margin-top: var( --spacing-1 ); margin-bottom: var( --spacing-1 ); }/* Spacing Level 2 */
 .u-m2\@lg { margin: var( --spacing-2 ); }
 .u-mt2\@lg { margin-top: var( --spacing-2 ); }
 .u-mr2\@lg { margin-right: var( --spacing-2 ); }
 .u-mb2\@lg { margin-bottom: var( --spacing-2 ); }
 .u-ml2\@lg { margin-left: var( --spacing-2 ); }
 .u-mx2\@lg { margin-right: var( --spacing-2 ); margin-left: var( --spacing-2 ); }
 .u-my2\@lg { margin-top: var( --spacing-2 ); margin-bottom: var( --spacing-2 ); }/* Spacing Level 3 */
 .u-m3\@lg { margin: var( --spacing-3 ); }
 .u-mt3\@lg { margin-top: var( --spacing-3 ); }
 .u-mr3\@lg { margin-right: var( --spacing-3 ); }
 .u-mb3\@lg { margin-bottom: var( --spacing-3 ); }
 .u-ml3\@lg { margin-left: var( --spacing-3 ); }
 .u-mx3\@lg { margin-right: var( --spacing-3 ); margin-left: var( --spacing-3 ); }
 .u-my3\@lg { margin-top: var( --spacing-3 ); margin-bottom: var( --spacing-3 ); }/* Spacing Level 4 */
 .u-m4\@lg { margin: var( --spacing-4 ); }
 .u-mt4\@lg { margin-top: var( --spacing-4 ); }
 .u-mr4\@lg { margin-right: var( --spacing-4 ); }
 .u-mb4\@lg { margin-bottom: var( --spacing-4 ); }
 .u-ml4\@lg { margin-left: var( --spacing-4 ); }
 .u-mx4\@lg { margin-right: var( --spacing-4 ); margin-left: var( --spacing-4 ); }
 .u-my4\@lg { margin-top: var( --spacing-4 ); margin-bottom: var( --spacing-4 ); }/* Spacing Level 5 */
 .u-m5\@lg { margin: var( --spacing-5 ); }
 .u-mt5\@lg { margin-top: var( --spacing-5 ); }
 .u-mr5\@lg { margin-right: var( --spacing-5 ); }
 .u-mb5\@lg { margin-bottom: var( --spacing-5 ); }
 .u-ml5\@lg { margin-left: var( --spacing-5 ); }
 .u-mx5\@lg { margin-right: var( --spacing-5 ); margin-left: var( --spacing-5 ); }
 .u-my5\@lg { margin-top: var( --spacing-5 ); margin-bottom: var( --spacing-5 ); }/* Spacing Level 6 */
 .u-m6\@lg { margin: var( --spacing-6 ); }
 .u-mt6\@lg { margin-top: var( --spacing-6 ); }
 .u-mr6\@lg { margin-right: var( --spacing-6 ); }
 .u-mb6\@lg { margin-bottom: var( --spacing-6 ); }
 .u-ml6\@lg { margin-left: var( --spacing-6 ); }
 .u-mx6\@lg { margin-right: var( --spacing-6 ); margin-left: var( --spacing-6 ); }
 .u-my6\@lg { margin-top: var( --spacing-6 ); margin-bottom: var( --spacing-6 ); }/* Spacing Auto */
 .u-mla\@lg { margin-left: auto; }
 .u-mra\@lg { margin-right: auto; }
 .u-mxa\@lg { margin-right: auto; margin-left: auto; }
 .u-mya\@lg { margin-top: auto; margin-bottom: auto; }
}
/*---------Spacing Utilities: Padding----------*/
/* Spacing Level 0 */
.u-p0 { padding: 0; }
.u-pt0 { padding-top: 0; }
.u-pr0 { padding-right: 0; }
.u-pb0 { padding-bottom: 0; }
.u-pl0 { padding-left: 0; }
.u-px0 { padding-right: 0; padding-left: 0; }
.u-py0 { padding-top: 0; padding-bottom: 0; }
/* Spacing Level 1 */
.u-p1 { padding: var( --spacing-1 ); }
.u-pt1 { padding-top: var( --spacing-1 ); }
.u-pr1 { padding-right: var( --spacing-1 ); }
.u-pb1 { padding-bottom: var( --spacing-1 ); }
.u-pl1 { padding-left: var( --spacing-1 ); }
.u-px1 { padding-right: var( --spacing-1 ); padding-left: var( --spacing-1 ); }
.u-py1 { padding-top: var( --spacing-1 ); padding-bottom: var( --spacing-1 ); }
/* Spacing Level 2 */
.u-p2 { padding: var( --spacing-2 ); }
.u-pt2 { padding-top: var( --spacing-2 ); }
.u-pr2 { padding-right: var( --spacing-2 ); }
.u-pb2 { padding-bottom: var( --spacing-2 ); }
.u-pl2 { padding-left: var( --spacing-2 ); }
.u-px2 { padding-right: var( --spacing-2 ); padding-left: var( --spacing-2 ); }
.u-py2 { padding-top: var( --spacing-2 ); padding-bottom: var( --spacing-2 ); }
/* Spacing Level 3 */
.u-p3 { padding: var( --spacing-3 ); }
.u-pt3 { padding-top: var( --spacing-3 ); }
.u-pr3 { padding-right: var( --spacing-3 ); }
.u-pb3 { padding-bottom: var( --spacing-3 ); }
.u-pl3 { padding-left: var( --spacing-3 ); }
.u-px3 { padding-right: var( --spacing-3 ); padding-left: var( --spacing-3 ); }
.u-py3 { padding-top: var( --spacing-3 ); padding-bottom: var( --spacing-3 ); }
/* Spacing Level 4 */
.u-p4 { padding: var( --spacing-4 ); }
.u-pt4 { padding-top: var( --spacing-4 ); }
.u-pr4 { padding-right: var( --spacing-4 ); }
.u-pb4 { padding-bottom: var( --spacing-4 ); }
.u-pl4 { padding-left: var( --spacing-4 ); }
.u-px4 { padding-right: var( --spacing-4 ); padding-left: var( --spacing-4 ); }
.u-py4 { padding-top: var( --spacing-4 ); padding-bottom: var( --spacing-4 ); }
/* Spacing Level 5 */
.u-p5 { padding: var( --spacing-5 ); }
.u-pt5 { padding-top: var( --spacing-5 ); }
.u-pr5 { padding-right: var( --spacing-5 ); }
.u-pb5 { padding-bottom: var( --spacing-5 ); }
.u-pl5 { padding-left: var( --spacing-5 ); }
.u-px5 { padding-right: var( --spacing-5 ); padding-left: var( --spacing-5 ); }
.u-py5 { padding-top: var( --spacing-5 ); padding-bottom: var( --spacing-5 ); }
/* Spacing Level 6 */
.u-p6 { padding: var( --spacing-6 ); }
.u-pt6 { padding-top: var( --spacing-6 ); }
.u-pr6 { padding-right: var( --spacing-6 ); }
.u-pb6 { padding-bottom: var( --spacing-6 ); }
.u-pl6 { padding-left: var( --spacing-6 ); }
.u-px6 { padding-right: var( --spacing-6 ); padding-left: var( --spacing-6 ); }
.u-py6 { padding-top: var( --spacing-6 ); padding-bottom: var( --spacing-6 ); }
/* Spacing Auto */
.u-px-auto { padding-right: auto; padding-left: auto; }
.u-py-auto { padding-top: auto; padding-bottom: auto; }
@media (--sm) {/* Spacing Level 0 */
 .u-p0\@sm { padding: 0; }
 .u-pt0\@sm { padding-top: 0; }
 .u-pr0\@sm { padding-right: 0; }
 .u-pb0\@sm { padding-bottom: 0; }
 .u-pl0\@sm { padding-left: 0; }
 .u-px0\@sm { padding-right: 0; padding-left: 0; }
 .u-py0\@sm { padding-top: 0; padding-bottom: 0; }/* Spacing Level 1 */
 .u-p1\@sm { padding: var( --spacing-1 ); }
 .u-pt1\@sm { padding-top: var( --spacing-1 ); }
 .u-pr1\@sm { padding-right: var( --spacing-1 ); }
 .u-pb1\@sm { padding-bottom: var( --spacing-1 ); }
 .u-pl1\@sm { padding-left: var( --spacing-1 ); }
 .u-px1\@sm { padding-right: var( --spacing-1 ); padding-left: var( --spacing-1 ); }
 .u-py1\@sm { padding-top: var( --spacing-1 ); padding-bottom: var( --spacing-1 ); }/* Spacing Level 2 */
 .u-p2\@sm { padding: var( --spacing-2 ); }
 .u-pt2\@sm { padding-top: var( --spacing-2 ); }
 .u-pr2\@sm { padding-right: var( --spacing-2 ); }
 .u-pb2\@sm { padding-bottom: var( --spacing-2 ); }
 .u-pl2\@sm { padding-left: var( --spacing-2 ); }
 .u-px2\@sm { padding-right: var( --spacing-2 ); padding-left: var( --spacing-2 ); }
 .u-py2\@sm { padding-top: var( --spacing-2 ); padding-bottom: var( --spacing-2 ); }/* Spacing Level 3 */
 .u-p3\@sm { padding: var( --spacing-3 ); }
 .u-pt3\@sm { padding-top: var( --spacing-3 ); }
 .u-pr3\@sm { padding-right: var( --spacing-3 ); }
 .u-pb3\@sm { padding-bottom: var( --spacing-3 ); }
 .u-pl3\@sm { padding-left: var( --spacing-3 ); }
 .u-px3\@sm { padding-right: var( --spacing-3 ); padding-left: var( --spacing-3 ); }
 .u-py3\@sm { padding-top: var( --spacing-3 ); padding-bottom: var( --spacing-3 ); }/* Spacing Level 4 */
 .u-p4\@sm { padding: var( --spacing-4 ); }
 .u-pt4\@sm { padding-top: var( --spacing-4 ); }
 .u-pr4\@sm { padding-right: var( --spacing-4 ); }
 .u-pb4\@sm { padding-bottom: var( --spacing-4 ); }
 .u-pl4\@sm { padding-left: var( --spacing-4 ); }
 .u-px4\@sm { padding-right: var( --spacing-4 ); padding-left: var( --spacing-4 ); }
 .u-py4\@sm { padding-top: var( --spacing-4 ); padding-bottom: var( --spacing-4 ); }/* Spacing Level 4 */
 .u-p5\@sm { padding: var( --spacing-5 ); }
 .u-pt5\@sm { padding-top: var( --spacing-5 ); }
 .u-pr5\@sm { padding-right: var( --spacing-5 ); }
 .u-pb5\@sm { padding-bottom: var( --spacing-5 ); }
 .u-pl5\@sm { padding-left: var( --spacing-5 ); }
 .u-px5\@sm { padding-right: var( --spacing-5 ); padding-left: var( --spacing-5 ); }
 .u-py5\@sm { padding-top: var( --spacing-5 ); padding-bottom: var( --spacing-5 ); }/* Spacing Level 6 */
 .u-p6\@sm { padding: var( --spacing-6 ); }
 .u-pt6\@sm { padding-top: var( --spacing-6 ); }
 .u-pr6\@sm { padding-right: var( --spacing-6 ); }
 .u-pb6\@sm { padding-bottom: var( --spacing-6 ); }
 .u-pl6\@sm { padding-left: var( --spacing-6 ); }
 .u-px6\@sm { padding-right: var( --spacing-6 ); padding-left: var( --spacing-6 ); }
 .u-py6\@sm { padding-top: var( --spacing-6 ); padding-bottom: var( --spacing-6 ); }/* Spacing Auto */
 .u-px-auto\@sm { padding-right: auto; padding-left: auto; }
 .u-py-auto\@sm { padding-top: auto; padding-bottom: auto; }
}
@media (--md) {/* Spacing Level 0 */
 .u-p0\@md { padding: 0; }
 .u-pt0\@md { padding-top: 0; }
 .u-pr0\@md { padding-right: 0; }
 .u-pb0\@md { padding-bottom: 0; }
 .u-pl0\@md { padding-left: 0; }
 .u-px0\@md { padding-right: 0; padding-left: 0; }
 .u-py0\@md { padding-top: 0; padding-bottom: 0; }/* Spacing Level 1 */
 .u-p1\@md { padding: var( --spacing-1 ); }
 .u-pt1\@md { padding-top: var( --spacing-1 ); }
 .u-pr1\@md { padding-right: var( --spacing-1 ); }
 .u-pb1\@md { padding-bottom: var( --spacing-1 ); }
 .u-pl1\@md { padding-left: var( --spacing-1 ); }
 .u-px1\@md { padding-right: var( --spacing-1 ); padding-left: var( --spacing-1 ); }
 .u-py1\@md { padding-top: var( --spacing-1 ); padding-bottom: var( --spacing-1 ); }/* Spacing Level 2 */
 .u-p2\@md { padding: var( --spacing-2 ); }
 .u-pt2\@md { padding-top: var( --spacing-2 ); }
 .u-pr2\@md { padding-right: var( --spacing-2 ); }
 .u-pb2\@md { padding-bottom: var( --spacing-2 ); }
 .u-pl2\@md { padding-left: var( --spacing-2 ); }
 .u-px2\@md { padding-right: var( --spacing-2 ); padding-left: var( --spacing-2 ); }
 .u-py2\@md { padding-top: var( --spacing-2 ); padding-bottom: var( --spacing-2 ); }/* Spacing Level 3 */
 .u-p3\@md { padding: var( --spacing-3 ); }
 .u-pt3\@md { padding-top: var( --spacing-3 ); }
 .u-pr3\@md { padding-right: var( --spacing-3 ); }
 .u-pb3\@md { padding-bottom: var( --spacing-3 ); }
 .u-pl3\@md { padding-left: var( --spacing-3 ); }
 .u-px3\@md { padding-right: var( --spacing-3 ); padding-left: var( --spacing-3 ); }
 .u-py3\@md { padding-top: var( --spacing-3 ); padding-bottom: var( --spacing-3 ); }/* Spacing Level 4 */
 .u-p4\@md { padding: var( --spacing-4 ); }
 .u-pt4\@md { padding-top: var( --spacing-4 ); }
 .u-pr4\@md { padding-right: var( --spacing-4 ); }
 .u-pb4\@md { padding-bottom: var( --spacing-4 ); }
 .u-pl4\@md { padding-left: var( --spacing-4 ); }
 .u-px4\@md { padding-right: var( --spacing-4 ); padding-left: var( --spacing-4 ); }
 .u-py4\@md { padding-top: var( --spacing-4 ); padding-bottom: var( --spacing-4 ); }/* Spacing Level 5 */
 .u-p5\@md { padding: var( --spacing-5 ); }
 .u-pt5\@md { padding-top: var( --spacing-5 ); }
 .u-pr5\@md { padding-right: var( --spacing-5 ); }
 .u-pb5\@md { padding-bottom: var( --spacing-5 ); }
 .u-pl5\@md { padding-left: var( --spacing-5 ); }
 .u-px5\@md { padding-right: var( --spacing-5 ); padding-left: var( --spacing-5 ); }
 .u-py5\@md { padding-top: var( --spacing-5 ); padding-bottom: var( --spacing-5 ); }/* Spacing Level 6 */
 .u-p6\@md { padding: var( --spacing-6 ); }
 .u-pt6\@md { padding-top: var( --spacing-6 ); }
 .u-pr6\@md { padding-right: var( --spacing-6 ); }
 .u-pb6\@md { padding-bottom: var( --spacing-6 ); }
 .u-pl6\@md { padding-left: var( --spacing-6 ); }
 .u-px6\@md { padding-right: var( --spacing-6 ); padding-left: var( --spacing-6 ); }
 .u-py6\@md { padding-top: var( --spacing-6 ); padding-bottom: var( --spacing-6 ); }/* Spacing Auto */
 .u-px-auto\@md { padding-right: auto; padding-left: auto; }
 .u-py-auto\@md { padding-top: auto; padding-bottom: auto; }
}
@media (--lg) {/* Spacing Level 0 */
 .u-p0\@lg { padding: 0; }
 .u-pt0\@lg { padding-top: 0; }
 .u-pr0\@lg { padding-right: 0; }
 .u-pb0\@lg { padding-bottom: 0; }
 .u-pl0\@lg { padding-left: 0; }
 .u-px0\@lg { padding-right: 0; padding-left: 0; }
 .u-py0\@lg { padding-top: 0; padding-bottom: 0; }/* Spacing Level 1 */
 .u-p1\@lg { padding: var( --spacing-1 ); }
 .u-pt1\@lg { padding-top: var( --spacing-1 ); }
 .u-pr1\@lg { padding-right: var( --spacing-1 ); }
 .u-pb1\@lg { padding-bottom: var( --spacing-1 ); }
 .u-pl1\@lg { padding-left: var( --spacing-1 ); }
 .u-px1\@lg { padding-right: var( --spacing-1 ); padding-left: var( --spacing-1 ); }
 .u-py1\@lg { padding-top: var( --spacing-1 ); padding-bottom: var( --spacing-1 ); }/* Spacing Level 2 */
 .u-p2\@lg { padding: var( --spacing-2 ); }
 .u-pt2\@lg { padding-top: var( --spacing-2 ); }
 .u-pr2\@lg { padding-right: var( --spacing-2 ); }
 .u-pb2\@lg { padding-bottom: var( --spacing-2 ); }
 .u-pl2\@lg { padding-left: var( --spacing-2 ); }
 .u-px2\@lg { padding-right: var( --spacing-2 ); padding-left: var( --spacing-2 ); }
 .u-py2\@lg { padding-top: var( --spacing-2 ); padding-bottom: var( --spacing-2 ); }/* Spacing Level 3 */
 .u-p3\@lg { padding: var( --spacing-3 ); }
 .u-pt3\@lg { padding-top: var( --spacing-3 ); }
 .u-pr3\@lg { padding-right: var( --spacing-3 ); }
 .u-pb3\@lg { padding-bottom: var( --spacing-3 ); }
 .u-pl3\@lg { padding-left: var( --spacing-3 ); }
 .u-px3\@lg { padding-right: var( --spacing-3 ); padding-left: var( --spacing-3 ); }
 .u-py3\@lg { padding-top: var( --spacing-3 ); padding-bottom: var( --spacing-3 ); }
 .u-p4\@lg { padding: var( --spacing-4 ); }
 .u-pt4\@lg { padding-top: var( --spacing-4 ); }
 .u-pr4\@lg { padding-right: var( --spacing-4 ); }
 .u-pb4\@lg { padding-bottom: var( --spacing-4 ); }
 .u-pl4\@lg { padding-left: var( --spacing-4 ); }
 .u-px4\@lg { padding-right: var( --spacing-4 ); padding-left: var( --spacing-4 ); }
 .u-py4\@lg { padding-top: var( --spacing-4 ); padding-bottom: var( --spacing-4 ); }/* Spacing Level 5 */
 .u-p5\@lg { padding: var( --spacing-5 ); }
 .u-pt5\@lg { padding-top: var( --spacing-5 ); }
 .u-pr5\@lg { padding-right: var( --spacing-5 ); }
 .u-pb5\@lg { padding-bottom: var( --spacing-5 ); }
 .u-pl5\@lg { padding-left: var( --spacing-5 ); }
 .u-px5\@lg { padding-right: var( --spacing-5 ); padding-left: var( --spacing-5 ); }
 .u-py5\@lg { padding-top: var( --spacing-5 ); padding-bottom: var( --spacing-5 ); }/* Spacing Level 6 */
 .u-p6\@lg { padding: var( --spacing-6 ); }
 .u-pt6\@lg { padding-top: var( --spacing-6 ); }
 .u-pr6\@lg { padding-right: var( --spacing-6 ); }
 .u-pb6\@lg { padding-bottom: var( --spacing-6 ); }
 .u-pl6\@lg { padding-left: var( --spacing-6 ); }
 .u-px6\@lg { padding-right: var( --spacing-6 ); padding-left: var( --spacing-6 ); }
 .u-py6\@lg { padding-top: var( --spacing-6 ); padding-bottom: var( --spacing-6 ); }/* Spacing Auto */
 .u-px-auto\@lg { padding-right: auto; padding-left: auto; }
 .u-py-auto\@lg { padding-top: auto; padding-bottom: auto; }
}
:root { --spacing-1: calc( var( --base-spacing ) / 4 ); --spacing-2: calc( var( --base-spacing ) / 2 ); --spacing-3: calc( var( --base-spacing ) ); --spacing-4: calc( var( --base-spacing ) * 2 ); --spacing-5: calc( var( --base-spacing ) * 2.4 ); --spacing-6: calc( var( --base-spacing ) * 4 ); }
