/*
  Typographic Utilities

  Text Columns.........Responsive Text Columns
  Align................Breakpoint Specific Text Align.
  Type Assorted........Font Weights, Letter Spacing, Rendering, Text Transform
*/
/*----------Text Align Utilities----------*/
.u-left { text-align: left; }
.u-right { text-align: right; }
.u-center { text-align: center; }
.u-justify { text-align: justify; }
@media (--sm) {
 .u-left\@sm { text-align: left; }
 .u-right\@sm { text-align: right; }
 .u-center\@sm { text-align: center; }
 .u-justify\@sm { text-align: justify; }
}
@media (--md) {
 .u-left\@md { text-align: left; }
 .u-right\@md { text-align: right; }
 .u-center\@md { text-align: center; }
 .u-justify\@md { text-align: justify; }
}
@media (--lg) {
 .u-left\@lg { text-align: left; }
 .u-right\@lg { text-align: right; }
 .u-center\@lg { text-align: center; }
 .u-justify\@lg { text-align: justify; }
}
/*---------Text Column Utilties----------*/
/*
  NOTE: there is no 1 for column sizes
*/
:root { --column-size-2: calc( var( --base-container ) / 3 - ( ( var( --base-spacing ) * 2 ) * 1 ) ); --column-size-3: calc( var( --base-container ) / 3 - ( ( var( --base-spacing ) * 3 ) * 2 ) ); --column-size-4: calc( var( --base-container ) / 3 - ( ( var( --base-spacing ) * 4 ) * 3 ) ); }
.u-tclm-2 { columns: 2 var( --column-size-2 ); column-gap: calc( var( --base-spacing ) * 2 ); }
.u-tclm-3 { columns: 3 var( --column-size-3 ); column-gap: calc( var( --base-spacing ) * 3 ); }
.u-tclm-4 { columns: 4 var( --column-size-4 ); column-gap: calc( var( --base-spacing ) * 4 ); }
/*----------Typographic Grab-Bag----------*/
/* Font Rendering */
.u-anti { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.u-legi { text-rendering: optimizeLegibility; }
/* Family */
.u-serif { font-family: var( --ff-serif ); }
.u-sans { font-family: var( --ff-sans-serif ); }
.u-mono { font-family: var( --ff-mono ); }
.u-system { font-family: var( --ff-default ); }
/* Font Features Settings */
.u-ffs-lnnum { font-feature-settings: 'lnum'; }
.u-ffs-smcp { font-feature-settings: 'smcp'; }
.u-ffs-frac { font-feature-settings: 'frac'; }
.u-ffs-swsh { font-feature-settings: 'swsh' 2; }
/* Line Height */
.u-lh-1 { line-height: 1; }
.u-lh-auto { line-height: auto; }
/* Case */
.u-caps { text-transform: uppercase; }
.u-lower { text-transform: lowercase; }
/* Weights */
.u-w100 { font-weight: 100; }
.u-w200 { font-weight: 200; }
.u-w300 { font-weight: 300; }
.u-w400 { font-weight: 400; }
.u-w500 { font-weight: 500; }
.u-w600 { font-weight: 600; }
.u-w700 { font-weight: 700; }
.u-w800 { font-weight: 800; }
.u-w900 { font-weight: 900; }
/* Tracking */
.u-lt-1 { letter-spacing: 1px; }
.u-lt-2 { letter-spacing: 2px; }
.u-lt-3 { letter-spacing: 3px; }
.u-lt-4 { letter-spacing: 4px; }
.u-lt-5 { letter-spacing: 5px; }
