---
layout: default
---

<div class="">
  <main class="">
    <div class="c-pane--flat u-center u-px2 u-py6">
      <header class="post-header u-py3">
        <div class="u-mb4">
          <img src="/assets/dist/img/obsidian-logo@2x.png" class="c-header__logo--lg u-bl u-mxa u-mb5" alt="Obsidian.css Logo" />
          <h2 class="h4 u-mb2 c-header__title">{{ page.notTitle }}</h2>
          <p class="h6 u-ltgray">{{ page.description }}</p>
        </div>
        <div class="o-container--sm o-container--center h5 u-mono">
          {% highlight shell %}npm install obsidian.css{% endhighlight %}
        </div>
      </header>
      {% assign pages = site.pages | sort: "order" %}
      <ul class="list--reset u-w500">
        {% for p in pages %}
          {% if p.title %}
          <li class="u-inbl u-px3 u-py3 u-py2@md">
            <a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="o-container o-container--md u-mxa u-py6 u-px3 u-mb4 c-home u-serif">
      {{ content }}
    </div>
  </main>
</div>

<hr class="u-bg--ltgray" />
