<div class="o-flex o-flex--wrap">
  <div class="o-col--12/12 o-col--4/12@md u-p2">
    <h6 class="u-mb2">Unordered List</h6>
    <ul>
      <li>Listed Item #1</li>
      <li>Listed Item #2</li>
      <li>Listed Item #3</li>
      <li>Listed Item #4</li>
    </ul>
  </div>

  <div class="o-col--12/12 o-col--4/12@md u-p2">
    <h6 class="u-mb2">Ordered List</h6>
    <ol>
      <li>Numbered Item #1</li>
      <li>Numbered Item #2</li>
      <li>Numbered Item #3</li>
      <li>Numbered Item #4</li>
    </ol>
  </div>

  <div class="o-col--12/12 o-col--4/12@md u-p2">
    <h6 class="u-mb2">Reset</h6>
    <ul class="list--reset">
      <li>Listed Item #1</li>
      <li>Listed Item #2</li>
      <li>Listed Item #3</li>
      <li>Listed Item #4</li>
    </ul>
  </div>
</div>
