<div class="">
  <table class="table">
    <thead>
      <th class="table__heading h6 u-left u-p2">Name</th>
      <th class="table__heading h6 u-left u-p2">Type</th>
      <th class="table__heading h6 u-left u-p2">Grade</th>
    </thead>
    <tr class="table__row">
      <td class="table__content u-p2" data-heading="Name">Gizmo</td>
      <td class="table__content u-p2" data-heading="Type">Robot</td>
      <td class="table__content u-p2" data-heading="Grade">A+</td>
    </tr>
    <tr class="table__row">
      <td class="table__content u-p2" data-heading="Name">Sherlock Holmes</td>
      <td class="table__content u-p2" data-heading="Type">Human</td>
      <td class="table__content u-p2" data-heading="Grade">B-</td>
    </tr>
    <tr class="table__row">
      <td class="table__content u-p2" data-heading="Name">Merlin</td>
      <td class="table__content u-p2" data-heading="Type">Wizard</td>
      <td class="table__content u-p2" data-heading="Grade">C</td>
    </tr>
    <tr class="table__row">
      <td class="table__content u-p2" data-heading="Name">Richard Nixon</td>
      <td class="table__content u-p2" data-heading="Type">Cyborg</td>
      <td class="table__content u-p2" data-heading="Grade">B-</td>
    </tr>
  </table>
</div>
