<div class="u-mb4">
  <h6 class="u-mb2 small u-caps">Xtra Small Buttons</h6>
  <a href="" class="c-btn c-btn--xs u-m1">Button</a>
  <a href="" class="c-btn c-btn--xs c-btn--2 u-m1">Button</a>
  <a href="" class="c-btn c-btn--xs c-btn--3 u-m1">Button</a>
  <a href="" class="c-btn c-btn--xs c-btn--4 u-m1">Button</a>
</div>

<div class="u-mb4">
  <h6 class="u-mb2 small u-caps">Buttons</h6>
  <a href="" class="c-btn u-m1">Button</a>
  <a href="" class="c-btn c-btn--2 u-m1">Button</a>
  <a href="" class="c-btn c-btn--3 u-m1">Button</a>
  <a href="" class="c-btn c-btn--4 u-m1">Button</a>
</div>

<div class="u-mb4">
  <h6 class="u-mb2 small u-caps">Medium Buttons</h6>
  <a href="" class="c-btn c-btn--md u-m1">Button</a>
  <a href="" class="c-btn c-btn--md c-btn--2 u-m1">Button</a>
  <a href="" class="c-btn c-btn--md c-btn--3 u-m1">Button</a>
  <a href="" class="c-btn c-btn--md c-btn--4 u-m1">Button</a>
</div>

<div class="u-mb4">
  <h6 class="u-mb2 small u-caps">Large Buttons</h6>
  <a href="" class="c-btn c-btn--lg u-m1">Button</a>
  <a href="" class="c-btn c-btn--lg c-btn--2 u-m1">Button</a>
  <a href="" class="c-btn c-btn--lg c-btn--3 u-m1">Button</a>
  <a href="" class="c-btn c-btn--lg c-btn--4 u-m1">Button</a>
</div>


<div class="u-mb4">
  <h6 class="u-mb2 small u-caps">Outline Buttons</h6>
  <a href="" class="c-btn c-btn--o">Button</a>
  <a href="" class="c-btn c-btn--o c-btn--o--2">Button</a>
  <a href="" class="c-btn c-btn--o c-btn--o--3">Button</a>
  <a href="" class="c-btn c-btn--o c-btn--o--4">Button</a>
</div>

<div class="">
  <h6 class="u-mb2 small u-caps">Applied to Input Nodes</h6>
  <button class="c-btn c-btn--md c-btn--3">Button</button>
  <input type="button" value="Button" class="c-btn c-btn--xs" />
  <input type="submit" value="Button" class="c-btn c-btn--o c-btn--o--2" />
</div>
