<a href="#" class="c-btn c-btn--3">Button</a>
<div class="c-dropdown__container u-relative u-py6 u-mb6">
  <div class="u-absolute" style="left: 0; top: 0;">
    <div class="c-dropdown c-dropdown--l u-mxw--fit active" style="width: 18rem;">
      <h3 class="h6 u-p2">
        <a href="/profile/">Heading</a>
      </h3>
      <hr class="u-bg--ltgray" />
      <nav class="c-nav small">
        <ul class="list--reset">
          <li class="u-p2">
            <a href="/preferences/" class="u-gray200">Preferences</a>
          </li>
          <li class="u-p2">
            <a href="#" class="u-gray200">Help</a>
          </li>
          <li class="u-p2">
            <a href="#" class="u-gray200">Sign Out</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
