<section class="o-flex o-flex--wrap">
  <div class="o-col--12/12 o-col--6/12@md u-p2">
    <label for="ti" class="u-gray u-mb1 u-bl">Text Field</label>
    <input type="text" class="c-field" id="ti" name="ti" value="" placeholder="Text">
  </div>
  <div class="o-col--12/12 o-col--6/12@md u-p2">
    <label for="num" class="u-gray u-mb1 u-bl">Number Field</label>
    <input type="number" class="c-field" id="num" name="num" value="" placeholder="0-9">
  </div>
  <div class="o-col--12/12 o-col--6/12@md u-p2">
    <label for="tid" class="u-gray u-mb1 u-bl">Disabled Field</label>
    <input type="text" class="c-field" id="tid" name="tid" value="" disabled placeholder="Disabled">
  </div>
  <div class="o-col--12/12 u-p2">
    <label for="txt" class="u-gray u-mb1 u-bl">Textarea Field</label>
    <textarea id="txt" name="txt" rows="8" cols="40" class="c-field c-field--text"></textarea>
  </div>
</section>
