<section class="" id="objects">
  {{!-- {{> template-example name="Intrinsic" partialName="intrinsic" moduleGroup="Object"}} --}}
  {{> template-example name="Flex" partialName="flex" moduleGroup="Object"}}
  {{> template-example name="Grid" partialName="grid" moduleGroup="Object"}}
  {{!-- {{> template-example name="Buttons" partialName="buttons" moduleGroup="Object"}} --}}
  {{!-- {{> template-example name="Forms" partialName="forms" moduleGroup="Object"}} --}}
</section>
