<div class="o-flex o-flex--wrap u-clr-offwhite">
  <div class="o-flex__child--0/1 u-m1 u-bkg-blue u-p3 u-al-center">
    <h2 class="u-m0 u-w300">1</h2>
  </div>
  <div class="o-flex__child--2/2 u-m1 u-bkg-blue u-p3 u-al-center">
    <h2 class="u-m0 u-w300">2</h2>
  </div>
  <div class="o-flex__child--0/1 u-m1 u-bkg-blue u-p3 u-al-center">
    <h2 class="u-m0 u-w300">1</h2>
  </div>
  <div class="o-flex__child--0/1 u-m1 u-bkg-blue u-p3 u-al-center">
    <h2 class="u-m0 u-w300">1</h2>
  </div>
  <div class="o-flex__child--0/1 u-m1 u-bkg-blue u-p3 u-al-center">
    <h2 class="u-m0 u-w300">1</h2>
  </div>
</div>
