<div class="o-flex o-flex--wrap o-flex--j--sb u-offwhite">
  <div class="o-col--2/12 u-bg-indigo u-p3 u-center">
    <h2 class="u-m0 u-w300">2</h2>
  </div>
  <div class="o-col--4/12 u-bg-yellow u-p3 u-center">
    <h2 class="u-m0 u-w300">4</h2>
  </div>
  <div class="o-col--2/12 u-bg-blue u-p3 u-center">
    <h2 class="u-m0 u-w300">2</h2>
  </div>
  <div class="o-col--2/12 u-bg-bluegreen u-p3 u-center">
    <h2 class="u-m0 u-w300">2</h2>
  </div>
  <div class="o-col--2/12 u-bg-green u-p3 u-center">
    <h2 class="u-m0 u-w300">2</h2>
  </div>
</div>
