<form action="" class="">
  <div class="u-mb4">
    <label for="name" class="u-caps u-mb2 u-d-bl o-label">Name</label>
    <input id="name" type="text" class="o-input" />
  </div>
  <div class="u-mb4">
    <label for="email" class="u-caps u-mb2 u-d-bl o-label">Email</label>
    <input id="email" type="email" class="o-input" />
  </div>
  <div class="u-mb4">
    <label for="password" class="u-caps u-mb2 u-d-bl o-label">Password</label>
    <input id="password" type="password" class="o-input" />
  </div>
  <div class="u-mb4">
    <label for="number" class="u-caps u-mb2 u-d-bl o-label">Number</label>
    <input id="number" type="number" class="o-input" />
  </div>
  <div class="u-mb4">
    <select name="select" class="o-select">
      <option value="value1">Value 1</option>
      <option value="value2" selected>Value 2</option>
      <option value="value3">Value 3</option>
    </select>
  </div>
  <input type="submit" class="o-btn o-container--sm u-caps u-lt-2 u-w500 u-d-bl u-mr0 u-mb4" value="Save">
</form>
<form action="">
  <div class="u-mb4">
    <label for="search" class="u-caps u-mb2 u-d-bl o-label">Search</label>
    <input id="search" type="search" class="o-input u-br-1" />
  </div>
</form>
