<div class="o-grid o-container--full u-cf">
  <div class="o-grid__col--1/12 u-p3 u-al-center u-bkg-yellow">1</div>
  <div class="o-grid__col--1/12 u-p3 u-al-center u-bkg-orange">1</div>
  <div class="o-grid__col--1/12 u-p3 u-al-center u-bkg-purple">1</div>
  <div class="o-grid__col--1/12 u-p3 u-al-center u-bkg-green">1</div>
  <div class="o-grid__col--1/12 u-p3 u-al-center u-bkg-red">1</div>
  <div class="o-grid__col--3/12@md u-p3 u-al-center u-bkg-blue">3</div>
  <div class="o-grid__col--3/12@sm o-grid__col--4/12@lg u-p3 u-al-center u-bkg-yellow">4</div> 
</div>
