<div class="o-grid o-container--full u-center u-cf">
  <div class="o-col--1/12 u-fl u-p3 u-bg-yellow">1</div>
  <div class="o-col--1/12 u-fl u-p3 u-bg-orange">1</div>
  <div class="o-col--1/12 u-fl u-p3 u-bg-purple">1</div>
  <div class="o-col--1/12 u-fl u-p3 u-bg-green">1</div>
  <div class="o-col--1/12 u-fl u-p3 u-bg-red">1</div>
  <div class="o-col--3/12@md u-fl u-p3 u-bg-blue">3</div>
  <div class="o-col--3/12@sm o-col--4/12@lg u-fl u-p3 u-bg-yellow">4</div>
</div>
