<h1 class="u-w400 u-clr-ltgray">Headline Level 1</h1>
<h2 class="u-w400 u-clr-ltgray">Headline Level 2</h2>
<h3 class="u-w400 u-clr-ltgray">Headline Level 3</h3>
<h4 class="u-w400 u-clr-ltgray">Headline Level 4</h4>
<h5 class="u-w400 u-clr-ltgray">Headline Level 5</h5>
<h6 class="u-w400 u-clr-ltgray">Headline Level 6</h6>
