<div class="o-intrinsic o-intrinsic--16x9">
  <iframe src="https://player.vimeo.com/video/42603478?title=0&byline=0&portrait=0" class="o-intrinsic__item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
