<div class="o-container--lg u-px2 u-mx-auto u-my6">
  <div class="u-cf u-mb4">
    <div class="u-m0 u-fl-left" style="width:75%">
      <h3 class="h5 u-m0 u-w300">{{ name }} Example</h3>
    </div>
    <div class=" u-fl-right u-al-right" style="width:25%">
      <span class="u-clr-yellow u-m0 u-w300 u-lt-3 u-caps">{{ moduleGroup }}</span>
    </div>
  </div>
  {{> (lookup . 'partialName') }}
</div>
