<div class="o-container--full u-px2 u-mxa u-my6">
  <header class="o-flex o-flex--center--h u-mb4 u-bg-red u-offwhite u-p2">
    <div class="o-col--9/12">
      <h3 class="h5 u-m0 u-w300">{{ name }} Example</h3>
    </div>
    <div class="o-col--3/12 u-right">
      <span class="u-clr-yellow u-m0 u-w300 u-lt-3 u-caps">{{ moduleGroup }}</span>
    </div>
  </header>
  {{> (lookup . 'partialName') }}
</div>
