<div>
  <div class="u-mb1">
    <div class="c-color-block__item u-bg--yellow"></div>
  </div>
  <div class="u-mb2">
    <div class="c-color-block__item u-bg--yellow"></div>
  </div>
  <div class="u-mb3">
    <div class="c-color-block__item u-bg--yellow"></div>
  </div>
  <div class="u-mb4">
    <div class="c-color-block__item u-bg--yellow"></div>
  </div>
  <div class="u-mb5">
    <div class="c-color-block__item u-bg--yellow"></div>
  </div>
  <div class="u-mb6">
    <div class="c-color-block__item u-bg--yellow"></div>
  </div>

  <div class="u-inbl u-mr1">
    <div class="c-color-block__item u-bg--orange"></div>
  </div>
  <div class="u-inbl u-mr2">
    <div class="c-color-block__item u-bg--orange"></div>
  </div>
  <div class="u-inbl u-mr3">
    <div class="c-color-block__item u-bg--orange"></div>
  </div>
  <div class="u-inbl u-mr4">
    <div class="c-color-block__item u-bg--orange"></div>
  </div>
  <div class="u-inbl u-mr5">
    <div class="c-color-block__item u-bg--orange"></div>
  </div>
  <div class="u-inbl u-mr6">
    <div class="c-color-block__item u-bg--orange"></div>
  </div>
</div>
