/*---------Dropdown Component----------*/

:root {
  --curve: cubic-bezier(.16, .58, .8, .43);
  --dropdown-header: var(--offwhite);
  --dropdown-background: var(--offwhite);
  --dropdown-arrow-size: .625rem;
  --dropdown-width: 25rem;
}

.c-Dropdown {
  background: var(--dropdown-background);
  box-shadow: var(--shadow-1);
  border-top: 2px solid var(--dropdown-header);
  position: relative;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--curve), visibility 250ms var(--curve);
  z-index: 999;
  max-width: var(--dropdown-width);
}

.c-Dropdown::before {
  content: '';
  position: absolute;
  top: calc(var(--dropdown-arrow-size) * -1);
  width: 0;
  height: 0;
  bottom: 0;
  border-left: .75rem solid transparent;
  border-right: .75rem solid transparent;
  border-bottom: var(--dropdown-arrow-size) solid var(--dropdown-header);
}

.c-Dropdown--l::before {
  content: '';
  left: calc(var(--dropdown-arrow-size) / 2);
}

.c-Dropdown--r::before {
  content: '';
  right: calc(var(--dropdown-arrow-size) / 2);
}

.c-Dropdown--c::before {
  content: '';
  left: 0;
  right: 0;
  margin: 0 auto;
}

.c-Dropdown.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.c-Dropdown.active {
  visibility: visible;
  opacity: 1;
}
