/*---------Field Input Component----------*/

/*
@styleguide
@chapter Components
@title Field

Visual skins for `<input>` and `<textarea>` elements.

<section class="o-flex o-flex--wrap">
  <div class="o-col--12/12 u-p2">
    <label for="ti" class="u-gray u-mb1 u-bl">Text Field</label>
    <input type="text" class="c-Field" id="ti" name="ti" value="" placeholder="Text">
  </div>
  <div class="o-col--12/12 u-p2">
    <label for="num" class="u-gray u-mb1 u-bl">Number Field</label>
    <input type="number" class="c-Field" id="num" name="num" value="" placeholder="0-9">
  </div>
  <div class="o-col--12/12 u-p2">
    <label for="tid" class="u-gray u-mb1 u-bl">Disabled Field</label>
    <input type="text" class="c-Field" id="tid" name="tid" value="" disabled placeholder="Disabled">
  </div>
  <div class="o-col--12/12 u-p2">
    <label for="txt" class="u-gray u-mb1 u-bl">Textarea Field</label>
    <textarea id="txt" name="txt" rows="8" cols="40" class="c-Field c-Field--text"></textarea>
  </div>
</section>
*/

:root {
  --field-min: 5rem;
}

.c-Field {
  padding: var(--form-inner-sp);
  box-shadow: var(--form-shadow);
  border: var(--form-border) var(--form-border-color);
  max-width: var(--form-mxw);
  width: var(--form-width);
  height: var(--form-height);
  border-radius: var(--form-radius);
}

.c-Field[disabled],
.c-Field:disabled {
  opacity: .5;
  background: color(var(--form-color) a(10%));
  border-color: color(var(--form-offsetColor) a(50%));
}

.c-Field::placeholder {
  font-style: italic;
}

.c-Field::-webkit-calendar-picker-indicator {
  opacity: 1 !important;
}

.c-Field--text {
  resize: none;
  min-height: var(--field-min);
}

.c-Field:focus {
  background: var(--offwhite);
  color: var(--form-color);
  border-color: var(--form-color);
  outline: 4px auto var(--form-color);
}
