/*----------Radio Group----------*/

/*
@styleguide
@chapter Components
@title Radio Group

<div class="c-RadioGroup small o-flex o-flex--j--sb u-w500 u-mxa u-py4 u-center">
  <input type="radio" name="r" id="ru" class="c-RadioGroup__elm">
  <label for="ru" class="c-RadioGroup__opt o-flex--center--v u-p2">
    Recently Updated
  </label>
  <input type="radio" name="r" id="created" class="c-RadioGroup__elm" checked="">
  <label for="created" class="c-RadioGroup__opt o-flex--center--v u-p2">
    Created On
  </label>
  <input type="radio" name="r" id="az" class="c-RadioGroup__elm">
  <label for="az" class="c-RadioGroup__opt o-flex--center--v u-p2">
    A to Z
  </label>
</div>

<h6 class="u-mb2 small u-caps">Links</h6>

<div class="c-RadioGroup small o-flex o-flex--j--sb u-w500 u-mxa u-py4 u-center">
  <a href="#" class="c-RadioGroup__opt o-flex--center--v u-p2">Recently Updated</a>
  <a href="#" class="c-RadioGroup__opt o-flex--center--v u-p2 active">Created On</a>
  <a href="#" class="c-RadioGroup__opt o-flex--center--v u-p2">A to Z</a>
</div>

*/

:root {
  --rdg-corner: .425rem;
  --rdg-width: 27.5rem;
  --rdg-color: var(--color-1);
  --rdg-offset-color: var(--color-5);
  --rdg-timing: calc(var(--base-dur) / 2);
}

.c-RadioGroup {
  max-width: var(--rdg-width);
  width: 100%;
}

.c-RadioGroup__opt {
  width: calc(100% / 3);
  border: 1px solid var(--rdg-offset-color);
  color: var(--rdg-offset-color);
  flex: 1;
  cursor: pointer;
  transition: background var(--rdg-timing) ease-in-out, color var(--rdg-timing) ease-in-out;
}

.c-RadioGroup__opt:not(:last-of-type) { border-right: 0; }

.c-RadioGroup__opt:first-of-type {
  border-radius: var(--rdg-corner) 0 0 var(--rdg-corner);
}

.c-RadioGroup__opt:last-of-type {
  border-radius: 0 var(--rdg-corner) var(--rdg-corner) 0;
}

.c-RadioGroup__elm { display: none; }

.c-RadioGroup__elm:checked + .c-RadioGroup__opt,
.c-RadioGroup__opt.active {
  background: var(--rdg-color);
  color: white;
}
