<section data-tabs class="c-ex u-py5 u-cf u-relative">

  <header class="c-content u-mb3">
    <h3 id="{{ include.prefix }}-section" class="c-content__title h5 u-mb3 u-w500">{{ include.sect-title }}</h3>
    {% if include.description %}
      <div class="o-container--sm c-description">
        {% capture desc %}{% include {{ include.description }} %}{% endcapture %}
        {{ desc | markdownify }}
      </div>
    {% endif %}
  </header>

  <div class="c-ex__container u-mono u-relative u-mb2" data-tabs-content>
    {% highlight css %}{% include {{ include.snippet }} %}{% endhighlight %}
  </div>

</section>
