<footer class="small">
  <div class="o-container u-mxa u-mb3 u-px3@md u-py5@md">
    <div class="o-col--4/12@md">
      <h4 class="h6">{{ site.title }}</h4>
      <p>{{ site.description }}</p>
      <ul class="list--reset u-w700 u-caps">
        <li class="u-inbl u-py2 u-pr2">
          <a href="https://github.com/{{site.github_username}}">GitHub</a>
        </li>
        <li class="u-inbl u-py2 u-pr2">
          <a href="https://twitter.com/{{site.twitter_username}}">Twitter</a>
        </li>
        <li class="u-inbl u-py2 u-pr2">
          <a href="https://www.npmjs.com/package/{{ site.npm_package }}">npm</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
