<header class="c-header {% if page.layout == 'home'%}c-header--home{% endif %} u-p2">
  <div class="o-flex o-flex--wrap o-flex--center--h o-flex--j--sb">
    <div class="">
      <h1 class="h5 o-flex o-flex--center--h u-w400 u-lh-1">
        <img src="/assets/dist/img/obsidian-logo@1x.png" alt="Obsidian.css Logo" class="c-header__logo u-bl u-mr3 u-py2@lg" />
        <a href="{{ site.baseurl }}/" class="c-header__title u-mr3">{{ site.title }}</a>
        <small class="c-header__version u-system">{{ site.version }}</small>
      </h1>
    </div>
    <div class="u-right">
      <a href="https://github.com/{{site.github_username}}" class="u-bl">
        {% include icons/github.svg %}
      </a>
    </div>
  </div>
</header>
