<ul class="o-flex o-flex--j--sb list--reset u-py3 small">
  <li class="u-mr4">
    <span class="h3 u-w700 u-bl">{{ site.gzip_size }}</span>
    <span class="u-system u-caps u-lt-2 u-ltgray">Gzip Size</span>
  </li>
  <li class="u-mr4">
    <span class="h3 u-w700 u-bl">{{ site.rules }}</span>
    <span class="u-system u-caps u-lt-2 u-ltgray">Selectors</span>
  </li>
  <li class="">
    <span class="h3 u-w700 u-bl">{{ site.rules }}</span>
    <span class="u-system u-caps u-lt-2 u-ltgray">Rules</span>
  </li>
</ul>
