/*
  Based on https://github.com/morishitter/psg-theme-default
*/


code {
  font-family: Operator Mono, monospace;
}

p {
  font-family: Charter;
}

html {
  background: #F7F7F7;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: Charter;
}

/*
 * All selectors are named with `psg-` prefix to avoid name confliction.
 */


.Ex {
  background: #ffba00;
}

.ExHeader {
  background: white;
  width: 12rem;
}

.ExLogo {
  max-width: 5rem;
  display: block;
}

.ExLogo > img {
  max-width: 100%;
  height: auto;
}


.ExTitle {
  font-family: Operator Mono, monospace;
}

.ExWrapper {
  width: 100%;
  display: flex;
}

.ExColorBox {
  background: white;
  width: 8rem;
  margin-left: .25rem;
  margin-right: .25rem;
  margin-bottom: 1rem;
}

.ExColorBox__swatch {
  padding-top: 57.25%;
  width: 100%;
}

.ExColorBox__details {

}

.ExNav {
  flex: 1;
}

.ExMain {
  flex: 5;
  width: calc(100% - 12rem);
}


/*.psg-section:not(.psg-css-code) {
  content: "";
  border-bottom: 2px solid #999;
  padding-bottom: 40px;
  margin-bottom: 40px;
}*/

.psg-contents > p,
.psg-contents > pre {
    margin: 2rem 0;
}

hr.psg-separator {
  margin: 4rem 0;
  border: 0;
  border-top: 1px solid #ddd;
}

/*
 * Color Palette
 */

.psg-colorPalette {
  display: flex;
  flex-flow: row wrap;
}

.psg-colorBox {
  width: 180px;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 3rem;
}

.psg-colorBox__sample {
  height: 100px;
}

.psg-colorBox__name {
  padding: 1em;
  font-size: 1.4rem;
  text-align: center;
}

.psg-css-code-box {
  background-color: #eee;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 20px;
  margin: 0 auto;
  font-size: 0.9em;
}

button.psg-css-code-toggle {
  background-color: #EBB054;
}
