.Pane {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.0175), 0 4px 8px rgba(0, 0, 0, 0.035);
}

.ModuleTable {
  border: 1px solid rgba(125, 125, 125, 0.25);
  width: 100%;
  margin: 1rem 0;
}

.ModuleTable thead {
  background: rgba(125, 125, 125, 0.25);
  text-align: left;
}

.ModuleTable th,
.ModuleTable td {
  padding: 0.5rem;
}

.ModuleTable td:not(:last-of-type) {
  border-right: 1px solid rgba(125, 125, 125, 0.25);
}

.ModuleTable tr:not(:last-of-type) {
  border-bottom: 1px solid rgba(125, 125, 125, 0.25);
}

.NavButton {
  color: #147aab;
  border: 0;
  border-bottom: 2px solid transparent;
}

.NavButton + .NavButton {
  margin-left: 0.5rem;
}

.NavButton.active {
  border-bottom: 2px solid currentColor;
}

.SubNavList {
  margin: 0;
  list-style: inside none;
}

.NavList {
  border-bottom: 1px solid hsla(0, 0%, 74%, 0.25);
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}

.NavList::-webkit-scrollbar {
  display: none;
}

.NavList__items {
  font-family: inherit;
  display: block;
  list-style: inside none;
}

.NavList__item {
  display: inline-block;
}

.NavList__link {
  display: block;
  line-height: 1;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.NavList__link.active {
  font-weight: 700;
  border-bottom: 2px solid currentColor;
}

.Snippet {
  width: 100%;
  background: white;
}

.Snippet__code {
  display: block;
  height: 100%;
  max-height: 25rem;
  overflow-y: scroll;
}

.Logo {
}

.Logo--sm {
  max-width: 3rem;
}

.Logo--md {
  max-width: 7rem;
}

.GradientTitle {
  color: #d04d36;
  background-image: linear-gradient(#ea8466, #d04d36);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Stage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Header {
  background: #fff;
  border-bottom: 1px solid hsla(0, 0%, 74%, 0.25);
}

.Intro {
}

.Intro h3 {
  font-size: 1.53125rem;
  margin-bottom: 1.625rem;
}

.Intro hr,
.Rule {
  background: hsla(0, 0%, 80%, 0.5);
  margin: 2rem 0;
}
